<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Libreria </title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/assets/css/styles.css">

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
            <a class="navbar-brand text-white" href="#"> <i class="fa-solid fa-book-open"></i> Libro 1</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/views/categorias.html">Categorías</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/views/libros.html">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/views/autores.html">Autores</a>
                    </li>
                </ul>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user"></i> Mi Perfil
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Iniciar Sesión</a>
                        <a class="dropdown-item" href="#">Registrarse</a>
                    </div>
                </div>
            </div>
        </nav>
        <main>
            <br>
            <section class="mt-4">
                <article class="">
                    <hr class="bg-white">
                    <div class="container shadow ">
                        <div class="row">
                            <div class="col-sm-12 col-md-4">
                                <div class="card">
                                    <img src="/assets/img/libro1.jpeg" class="card-img-center" alt="Libro 1">
                                    <div class="card-body">
                                        <h5 class="card-title">Libro 1</h5>
                                        <p class="card-text">sfaksagdksakdgfskgfjksagfkjgskfjgsakjfgjfjjfdgafjgfkdgkjadF.</p>
                                        <button>compra aqui</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
    </body>